* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}
.menu {
    width: 20%;
    background-color: #6EF3B9;
    padding-top: 25%;
}
.menu a {
    text-decoration: none;
    color: #7C80DD;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    font-family: "Sora", sans-serif;
}
.menu a:hover{
    background-color: #FFE7D3;
    transition: 0.5s;
    letter-spacing: 4px;

}
.body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
    background-image: linear-gradient(#9BF89D,#CAFA84);
}
.body h1 {
    margin-top: 20px;
    color: #003F46;
    letter-spacing: 4px;
    padding: 20px;
    font-family: "Space Mono", monospace;
    font-size: 100px;

}
a.logout {
    margin-top: 200px;
}
a.logout:hover {
    background-color: #6B1D1D;
    transition: 0.5s;

}
object {
    width: 100%;
    height: 100%;
}
img {
    padding-top: 20%;
    width: 300px;
}


