@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #CAFA84;
 }

.logo {
    cursor: pointer;
    height: 30x;
    margin: 10px 0px 10px 0px;
}
h1{
    text-align: center;
    margin-top: 90px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 2px 23px 2px 20px;
    margin:10px 0px 20px 70px;
    outline: 0;
    background-color: #f5f5f5;
}

/*content*/
.content-container {
    display: flex;
    position: absolute;
    top: 130px;
    overflow: visible;
    z-index: 0;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10vh;


}
.card {
    background: #FFE7D3;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}
.card-image {
    background-color: #94F7B2;
    height: 110px;
    text-align: center;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.card h2 {
    padding: 10px;
    text-align: center;
}
.card p {
    padding: 10px;
    text-align: center;

}
.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row {
    padding: 0;
    box-sizing: border-box;
    margin: 0 -5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
/*footer*/
.footer-container{
    display: flex;
    background-color: yellowgreen;
    bottom: 0;
    padding-bottom: 4rem;

}

.footer{
    width: 100%;
    position: fixed;
    height: 10vh;
    bottom: 0;
    background-color: #95B0B0;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-shrink: 0;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
}

.footer-heading a:hover{
    color: red;
    transition: 0.3s ease-out;
}

/* Responsive Media Query */
@media screen and (max-width: 720px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .footer-heading{
        display: block;
        flex-direction: 100%;
        margin-bottom: 10px;
    }
}