@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
 }
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 80px;
    padding: 5px;
    background-image: linear-gradient(#6EF3B9,#CAFA84);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 2;
}
.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding: 2px 23px 2px 20px;
    margin:10px 0px 20px 70px;
    outline: 0;
    background-color: #f5f5f5;
}
li, a
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    justify-content: space-between;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    height: 30x;
    margin: 10px 0px 10px 0px;
}
.nav_links{
    list-style-type: none;
}
.nav_links li{
    list-style-type: none;
    display: inline;
    padding: 0px 30px;
    margin:10px 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover
{
    color: #21E3E6;
}

.nav_links li > ul 
    {
        display: none
    }
 .nav_links li:hover ul
    {
        display: inline;
        position: absolute;
        left: 750px;
        background-image: linear-gradient(#CAFA84, #6EF3B9);
        padding: 5px 20px 0px 20px;
        margin-top: 16px;
        margin-left: 10px;
    }
.nav_links li:hover ul li a:link
    {
        display: block;
        margin-top: -10px;
        margin-bottom: 5px;
    }
