* {
    margin: 0px;
    padding: 0px;
    
  }
  html {
    min-height: 100%;
}

  body {
    background-image: linear-gradient(#6EF3B9,#CAFA84);
  }
  #container {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
    
  }
  .main-content {
    width: 250px;
    height: 40%;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid white;
    padding: 50px 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
  .logo {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  
  .logo img {
    height: 60px;
    width: 175px;
    margin: auto;
    position: relative;
    left: 40px;
  }
  .uname,
  .pass {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .overlap-text {
    position: relative;
  }
  .overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -1px;
  }
  .btn {
    width: 100%;
    background-color: #9BF89D;
    border: 1px solid #9BFA9D;
    padding: 12px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }
  .sub-content {
    width: 250px;
    height: 40%;
    margin: 30px auto;
    border: 1px solid #e6e6e6;
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .signup {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

  }
  .signup a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-family: 'Ubuntu', sans-serif;
    
  }
  input:focus {
      background-color: #f5f5f5;
  }
